services:
  free-room-api:
    build: . # Still builds your Dockerfile, which now uses the official base
    container_name: free-room-api
    ports:
      - "8072:8072"
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    environment:
      NODE_ENV: development # Or production
    # Add init process and capabilities required by the official image
    init: true
    cap_add:
      - SYS_ADMIN
    # command: npm run dev # Keep using this for dev if you want ts-node/nodemon
                          # Remove it to use the CMD from Dockerfile for production
    restart: unless-stopped # Optional

# volumes:
  # node_modules_volume: # No longer needed since we removed volume mappings